@media print {
	@page {
		size: portrait;
		width: 21cm; height: 29.7cm;
	}
	* {
		/* 배경그래픽 표시 */
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	div.page { 
		width: initial; min-height: initial; height: auto;
		margin: 0; padding: 0;
		box-shadow: initial; background: initial; border: none;
	}
	/* apexchart 테두리 제거 */
	.apexcharts-canvas .apexcharts-grid line {
		display: none;
	}
}

.page {
	position: relative;
	margin: 50px auto; padding: 1cm;
	width: 21cm; min-height: 29.7cm;
	background: #fff;
	border: 1px solid #3a3a3a;
}
.page table {
	border-collapse: separate !important;
	border-bottom: none;
}
.page th, .page td {
	padding: 6px 0;
	font-size: 14px;
}
.page th:nth-child(1) {
	border-left: 1px solid #d0ccc9;
}
.page thead tr th {
	border: none;
	border-bottom: 1px solid #d0ccc9;
	border-right: 1px solid #d0ccc9;
}
.page thead tr:first-child th {
	border-top: 1px solid #d0ccc9;
}
.page tbody tr th, .page tfoot tr th {
	border: none;
	border-bottom: 1px solid #d0ccc9;
	border-right: 1px solid #d0ccc9;
}
.page tbody tr td, .page tfoot tr td {
	border: none;
	border-bottom: 1px solid #d0ccc9;
	border-right: 1px solid #d0ccc9;
}
.page_break {
	page-break-inside: avoid;
	page-break-before: auto;
}

